{% load static %}

<!--Footer-->
<footer class="page-footer center-on-small-only">

    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row">

            <!--First column-->
            <div class="col-md-3 offset-lg-1 hidden-lg-down">
                <h5 class="title">ABOUT MATERIAL DESIGN</h5>
                <p>Material Design (codenamed Quantum Paper) is a design language developed by
                    Google.
                </p>

                <p>Material Design for Bootstrap (MDB) is a powerful Material Design UI KIT for
                    most popular HTML, CSS, and JS framework - Bootstrap.</p>
            </div>
            <!--/.First column-->

            <hr class="hidden-md-up">

                <!--Second column-->
                <div class="col-lg-2 col-md-4 offset-lg-1">
                    <h5 class="title">About us</h5>
                    <ul>
                        <li>
                            <a href="#!">Adress</a>
                        </li>
                        <li>
                            <a href="#!">Team</a>
                        </li>
                        <li>
                            <a href="#!">Phone number</a>
                        </li>
                    </ul>
                </div>
                <!--/.Second column-->

                <hr class="hidden-md-up">

                    <!--Third column-->
                    <div class="col-lg-2 col-md-4">
                        <h5 class="title">Metrics</h5>
                        <ul>
                            <li>
                                <a href="#!">Shoe sizes</a>
                            </li>
                            <li>
                                <a href="#!">T-shirt sizes</a>
                            </li>
                            <li>
                                <a href="#!">Sweatshirt sizes</a>
                            </li>
                            <li>
                                <a href="#!">Pants sizes</a>
                            </li>
                        </ul>
                    </div>
                    <!--/.Third column-->

                    <hr class="hidden-md-up">

                        <!--Fourth column-->
                        <div class="col-lg-2 col-md-4">
                            <h5 class="title">Useful links</h5>
                            <ul>
                                <li>
                                    <a href="#!">Pricing</a>
                                </li>
                                <li>
                                    <a href="#!">Delivery</a>
                                </li>
                                <li>
                                    <a href="#!">Countries</a>
                                </li>
                                <li>
                                    <a href="#!">Returns</a>
                                </li>
                            </ul>
                        </div>
                        <!--/.Fourth column-->

                    </div>
                </div>
                <!--/.Footer Links-->

                <hr>

                    <!--Call to action-->
                    <div class="call-to-action">
                        <h4>
                            Created with Material Design for Bootstrap</h4>
                        <br>
                            <h5>Get our UI KIT for free</h5>
                            <ul>
                                <li>
                                    <a
                                        target="_blank"
                                        href="http://mdbootstrap.com/getting-started/"
                                        class="btn btn-info">Download now!</a>
                                </li>
                                <li>
                                    <a
                                        target="_blank"
                                        href="http://mdbootstrap.com/material-design-for-bootstrap/"
                                        class="btn btn-default">Learn more</a>
                                </li>
                            </ul>
                        </div>
                        <!--/.Call to action-->

                        <!--Copyright-->
                        <div class="footer-copyright">
                            <div class="container-fluid">
                                © 2015 Copyright:
                                <a href="http://www.MDBootstrap.com">
                                    MDBootstrap.com
                                </a>

                            </div>
                        </div>
                        <!--/.Copyright-->

                    </footer>
                    <!--/.Footer-->