{% load static %}

<header>

    <!--Navbar-->
    <nav class="navbar navbar-toggleable-md navbar-dark">
        <div class="container">
            <button
                class="navbar-toggler navbar-toggler-right"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav1"
                aria-controls="navbarNav1"
                aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
                <strong>Navbar</strong>
            </a>
            <div class="collapse navbar-collapse" id="navbarNav1">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a href="/" class="nav-link">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Pricing</a>
                    </li>
                    <li class="nav-item dropdown btn-group">
                        <a
                            class="nav-link dropdown-toggle"
                            id="dropdownMenu1"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">More info</a>
                        <div class="dropdown-menu dropdown" aria-labelledby="dropdownMenu1">
                            <a class="dropdown-item">Contact</a>
                            <a class="dropdown-item">Billing adress</a>
                            <a class="dropdown-item">Discounts</a>
                        </div>
                    </li>
                    
                </ul>
                <form class="form-inline waves-effect waves-light">
                    <span class="glyphicon">&#xe003;</span>
                    <input class="form-control" type="text" placeholder="Search">
                </form>
                {% if user.is_authenticated %}
                    <form class="d-flex">
                      <button class="btn btn-outline-dark" style="color: #0275d8 !important;">
                        <a href="/userchoice/cart">
                          <i class="bi-cart-fill me-1"></i>
                          Cart
                          <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </a>
                      </button>
                  </form>
                  {% endif %}
                {% if not user.is_authenticated %}
                    <button style="font-size:16px"><a href="/user/login"><i class="fa fa-user-o"></i> 로그인</a></button>
                    <button style="font-size:16px"><a href="/user/signup"><i class="fa fa-user-plus"></i> 회원가입</a></button>
                {% elif user.is_seller %}
                    <button style="font-size:16px"><a href="/product/sell"><i class="fa fa-user-o"></i> 상품 올리기</a></button>
                    <button style="font-size:16px"><a href="/user/logout"><i class="fa fa-user"></i> 로그아웃</a></button>
                {% else %}
                    <button style="font-size:16px"><a href="/user/logout"><i class="fa fa-user"></i> 로그아웃</a></button>
                {% endif %}
                </div>
            </div>
        </nav>
        <!--/.Navbar-->

    </header>