/* TEMPLATE STYLES */

main {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
  
  .widget-wrapper {
    padding-bottom: 2rem;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 2rem;
  }
  
  .extra-margins {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
  }
  
  .divider-new {
    margin-top: 0;
  }
  
  .navbar {
    background-color: #414a5c;
  }
  
  footer.page-footer {
    background-color: #414a5c;
    margin-top: 2rem;
  }

/* cart */
.btn-outline-dark:hover {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
}
.btn:hover {
    color: #212529; 
}

button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
    cursor: pointer;
}

button, [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button;
}