{% load static %}

<main>
    <!--Main layout-->
    <div class="container">
      <div class="row">
  
        <!--Sidebar-->
        <div class="col-lg-4 wow fadeIn" data-wow-delay="0.2s">
  
          <div class="widget-wrapper">
            <h4>Categories:</h4>
            <br>
            <div class="list-group">
              <a href="#" class="list-group-item active">Woman</a>
              <a href="#" class="list-group-item">Man</a>
              <a href="#" class="list-group-item">Shoes</a>
              <a href="#" class="list-group-item">T-shirt</a>
              <a href="#" class="list-group-item">Jewellery</a>
            </div>
          </div>
  
          <div class="widget-wrapper wow fadeIn" data-wow-delay="0.4s">
            <h4>Subscription form:</h4>
            <br>
            <div class="card">
              <div class="card-block">
                <p><strong>Subscribe to our newsletter</strong></p>
                <p>Once a week we will send you a summary of the most useful news</p>
                <div class="md-form">
                  <i class="fa fa-user prefix"></i>
                  <input type="text" id="form1" class="form-control">
                  <label for="username">ID</label>
                </div>
                <div class="md-form">
                  <i class="fa fa-envelope prefix"></i>
                  <input type="text" id="form2" class="form-control">
                  <label for="password">password</label>
                </div>
                <button class="btn btn-default">Submit</button>
  
              </div>
            </div>
          </div>
  
        </div>
        <!--/.Sidebar-->
  
        <!--Main column-->
        <div class="col-lg-8">
            <div class="login_box">
                <div class="container" style="max-width: 600px;">

                        <h1>올리고자 하는 상품에 대한 정보를 입력해주세요!</h1>
                        <p>상품 업데이트</p>
                        <form action="" method="post" enctype="multipart/form-data">
                            <div class="image_container">
                              <div class="row">
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label class="control-label">Upload File</label>
                                    <div class="preview-zone hidden">
                                      <div class="box box-solid">
                                        <div class="box-header with-border">
                                          <div><b>Preview</b></div>
                                          <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-danger btn-xs remove-preview">
                                              <i class="fa fa-times"></i> Reset This Form
                                            </button>
                                          </div>
                                        </div>
                                        <div class="box-body"></div>
                                      </div>
                                    </div>
                                    <div class="dropzone-wrapper">
                                      <div class="dropzone-desc">
                                        <i class="glyphicon glyphicon-download-alt"></i>
                                        <p>Choose an image file or drag it here.</p>
                                      </div>
                                      <input type="file" name="thumbnail" class="dropzone">
                                    </div>
                                  </div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">상품이름</span>
                                    </div>
                                    <input name='title' type="text" class="form-control" id="title">
                                </div>
                                <div class="text"> Category INPUT-SELECT</div>
                                        <div class="t-dropdown-block">
                                        <div class="t-dropdown-select">
                                            <input type="text"  class="t-dropdown-input" placeholder="Value" />
                                            <span class="t-select-btn">
                                        </span>
                                        </div>
                                        <ul id="t-dropdown-width" class="t-dropdown-list">
                                            <li class="t-dropdown-item">Item 1</li>
                                            <li class="t-dropdown-item">Item 2</li>
                                            <li class="t-dropdown-item">Item 3</li>
                                            <li class="t-dropdown-item"><button onclick="openClose()" id="btn-post-box" type="button" class="btn btn-primary">카테고리 만들기</button></li>
                                        </ul>
                                        <div id="post-box" class="form-post" style="">
                                            <div>
                                                <div class="form-group">
                                                    <label for="name">카테고리 이름</label>
                                                    <input name='name' id="post-url" class="form-control" placeholder="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="description">설명</label>
                                                    <textarea name='description' id="post-comment" class="form-control" rows="2"></textarea>
                                                </div>
                                                <button type="button" class="btn btn-primary" onclick="/product/category">카테고리 저장</button>
                                                <button type="button" class="btn btn-primary" onclick="openClose()">닫기</button>
                                            </div>
                                        </div>
                                        </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">상품 설명</span>
                                    </div>
                                    <textarea name='desc' class="form-control" id="bookReview"
                                              cols="30"
                                              rows="5" placeholder="140자까지 입력할 수 있습니다."></textarea>
                                </div>
                              </div>
                        
                              <div class="row">
                                <div class="col-md-12">
                                    <button onclick="/product/purchase" type="submit" class="btn btn-primary">상품 등록하기</button>
                                </div>
                              </div>
                            </div>
                          </form>
                    </div>
            </div>
        </div>
        <!--/.Main column-->
  
      </div>
    </div>
    <!--/.Main layout-->
  
  </main>