{% load static %}

<main>
    <!--Main layout-->
    <div class="container">
      <div class="row">
  
        <!--Sidebar-->
        <div class="col-lg-4 wow fadeIn" data-wow-delay="0.2s">
  
          <div class="widget-wrapper">
            <h4>Categories:</h4>
            <br>
            <div class="list-group">
              <a href="#" class="list-group-item active">Woman</a>
              <a href="#" class="list-group-item">Man</a>
              <a href="#" class="list-group-item">Shoes</a>
              <a href="#" class="list-group-item">T-shirt</a>
              <a href="#" class="list-group-item">Jewellery</a>
            </div>
          </div>
        </div>
        <!--/.Sidebar-->
  
        <!--Main column-->
        <div class="col-lg-8">
            <div class="login_box">
                <!-- Grid column -->
                <div class="col-md-12 mb-4">
                    <div class="wrapper">
                        <h1>로그인</h1>
                        <form method="POST">
                            {% csrf_token %}
                            아이디: <br>
                            <input name="username" type="text">
                            <br>
                            비밀번호: <br>
                            <input name="password" type="password">
                            <br><br>
                            <input type="submit" class="btn btn-primary" value="로그인">
                        </form>
                    </div>
                </div>
                <!-- Grid column -->
            </div>
        </div>
        <!--/.Main column-->
  
      </div>
    </div>
    <!--/.Main layout-->
  
  </main>