{% load static %}

<main>
    <!--Main layout-->
    <div class="container">
        <div class="row">

            <!--Sidebar-->
            <div class="col-lg-4 wow fadeIn" data-wow-delay="0.2s">

                <div class="widget-wrapper">
                    <h4>Categories:</h4>
                    <br>
                        <div class="list-group">
                            <a href="#" class="list-group-item active">Woman</a>
                            <a href="#" class="list-group-item">Man</a>
                            <a href="#" class="list-group-item">Shoes</a>
                            <a href="#" class="list-group-item">T-shirt</a>
                            <a href="#" class="list-group-item">Jewellery</a>
                        </div>
                    </div>

                    <div class="widget-wrapper wow fadeIn" data-wow-delay="0.4s">
                        <h4>Subscription form:</h4>
                        <br>
                            <div class="card">
                                <div class="card-block">
                                    <p>
                                        <strong>Subscribe to our newsletter</strong>
                                    </p>
                                    <p>Once a week we will send you a summary of the most useful news</p>
                                    <div class="md-form">
                                        <i class="fa fa-user prefix"></i>
                                        <input type="text" id="form1" class="form-control">
                                            <label for="form1">Your name</label>
                                        </div>
                                        <div class="md-form">
                                            <i class="fa fa-envelope prefix"></i>
                                            <input type="text" id="form2" class="form-control">
                                                <label for="form2">Your email</label>
                                            </div>
                                            <button class="btn btn-default">Submit</button>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--/.Sidebar-->

                            <!--Main column-->
                            <div class="col-lg-8">
                                <!-- Grid row -->
                                <div class="row">
                                    <!-- Grid column -->
                                    <div class="col-md-6 mb-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <!-- Form register -->
                                                <form method="post">
                                                    {% csrf_token %}
                                                    <h2 class="text-center font-up font-bold deep-orange-text py-4">Sign up</h2>
                                                    <div class="md-form">
                                                        <i class="fa fa-user prefix grey-text"></i>
                                                        <input type="text" id="orangeForm-name3" class="form-control">
                                                            <label for="username">ID</label>
                                                        </div>
                                                        <div class="md-form">
                                                        <i class="fa fa-envelope prefix grey-text"></i>
                                                        <input type="text" id="orangeForm-email3" class="form-control">
                                                            <label for="email">email</label>
                                                        </div>
                                                        <div class="md-form">
                                                            <i class="fa fa-lock prefix grey-text"></i>
                                                            <input type="password" id="orangeForm-pass3" class="form-control">
                                                                <label for="password">password</label>
                                                        </div>
                                                        <div class="md-form">
                                                            <i class="fa fa-user prefix grey-text"></i>
                                                            <input type="text" id="orangeForm-email3" class="form-control">
                                                                <label for="fullname">이름</label>
                                                        </div>
                                                        <div class="md-form">
                                                            <i class="fa fa-user prefix grey-text"></i>
                                                            <input type="text" id="orangeForm-email3" class="form-control">
                                                                <label for="phone_number">핸드폰번호</label>
                                                            </div>

                                                        <div class="md-form">
                                                            <input class="inp-cbx" id="is_seller" type="checkbox"/>
                                                            <label class="cbx" for="is_seller"><span>
                                                                <svg width="12px" height="10px">
                                                                <use xlink:href="#check"></use>
                                                                </svg></span><span>판매자</span></label>
                                                        </div>

                                                            <div class="text-center">
                                                                <a href="/user/signup"><button type='submit' class="btn btn-deep-orange">next<i class="fa fa-angle-double-right pl-2" aria-hidden="true"></i>
                                                        </button></a>
                                                    </div>
                                                </form>
                                                            <!-- Form register -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Grid column -->
                                            </div>
                                            <!-- Grid row -->
                                        </div>
                                        <!--/.Main column-->

                                    </div>
                                </div>
                                <!--/.Main layout-->

                            </main>